
<div class="white" style="background: #ededed;
  font-family: sans-serif;
  color: #2196f3; padding: 20px; max-width: 100%; margin: 0 auto;" class="container">
  <h1 class = "center header text_h2"style="text-align: center;
  font-style: bold;
  border-bottom: 1px solid; color: #2196f3;
  padding-bottom: 30px;
  color: #2196f3;
  margin-bottom: 40px;">Restaurant Information</h1>
  
  <!-- ZERO extra html, great for CMS content -->
  <ol id="pretty-style-thang" style="counter-reset: item; 
  list-style: none;">
    <% @final_hash.each do |name, details|%>
    <li style="    font-size: 16px;
   margin-bottom: 24px;
    line-height: 1.8;
  display: flex;
  font-weight: bold;
  font-size: 1.5em"> <%= name%></li>
        <li style="    font-size: 16px;
   margin-bottom: 24px;
    line-height: 1.8;
  display: flex;
  padding-left:3em">Grade: <%= details.first["grade"]%></li>
        <li style="    font-size: 16px;
   margin-bottom: 24px;
    line-height: 1.8;
  display: flex;
  padding-left:3em">Violation: <%= details.first["action"]%></li>
        <li style="    font-size: 16px;
   margin-bottom: 24px;
    line-height: 1.8;
  display: flex;
  padding-left:3em;
  text-decoration: underline;"><a href= "http://maps.google.com/?q=<%= details.first["address"]%>" target= "_blank"> Address: <%= details.first["address"]%></a></li>
    <%end%>
  </ol>
</div>


